@import "colors";
@import "resolutions";
@import "fonts";

$items-none: none;

.container {
  width: 100%;
}

@for $i from 1 through 12 {
  .col-sm-#{$i}{
    width: $i/12*100%;
  }
}
.aside {
  text-align: center;
}
.tareas{
  ul li{
    list-style: $items-none;
    padding: 10px 0;
    margin-bottom: 10px;
  }
}
.asistencia{
  ol li{
    margin-left: 40px;
  }
}
@mixin list($space) {
  padding: $space;
}
.asistencia { @include list(2%); }
#student-list li{
  input {
    float: right;
  }
  @include list(1.5%);
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

